*{
	padding: 0;
 	margin: 0;
  	border: 0;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box; 
}

html, body {
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
 }
 
body{
	background-color:  rgb(217, 241, 241);
	font-style: 14px;
	font-family: "Poppins", sans-serif;
}

.container {
	max-width: 1160px;
	margin: 0 auto;
	padding: 0 10px;
 }
 a:visited, a:hover {
	text-decoration: none;
 }

 a {
	text-decoration: none;
 }
.about {
	padding-top: 120px 20px 80px 20px;
 }

 .about_wrapper {
	display: grid;
	grid-template-columns: 400px 570px;
	grid-template-rows: minmax(245px, auto) minmax(255px, auto);
	grid-auto-rows: minmax(245px, auto);
	column-gap: 70px;
	row-gap: 40px;
 }
 
.promo {
	min-height: 90vh;
	position: relative;
	background: url("../img/main-bg.jpg") no-repeat 45%/cover;
	padding: 205px 10px 0 10px;
	display:flex;
 }

 .menu_list {
	padding-left: 35px;
 }

 .menu_link {
	position: relative;
	font-weight: 700;
	font-size: 24px;
	line-height: 36px;
	margin-bottom: 15px;
 }

 .menu_link a {
	color: #052923;
	transition: all 0.6s;
 }

 .menu_link a:hover {
	color: #0b9696;
 }

 .menu_social-svg {
	fill: #052923;
	transition: all 0.6s;
 }
 .menu_social-svg:hover {
	fill: #0b9696;
 }

 .container {
	max-width: 1160px;
	margin: 0 auto;
	padding: 0 10px;
 }
 .about_photo img {
	width: 100%;
	height: 100%;
	object-fit: cover;
 }
 .about_skills {
	display: grid;
	grid-template: repeat(2, minmax(115px, auto))/repeat(2, 260px);
	grid-auto-rows: 1fr;
	column-gap: 50px;
	row-gap: 20px;
 }
 .about_skills-item {
	display: grid;
	grid-template-columns: 40px 200px;
	column-gap: 20px;
 }
 .about_skills-circle {
	position: relative;
	padding: 15px 0 0 15px;
 }

 .about_skills-circle::before {
	content: "";
	position: absolute;
	width: 36px;
	height: 36px;
	border-radius: 100%;
	background-color:#39e3e9;
	z-index: -1;
	top: -40%;
	left: 0;
	top: 0;
 }

 .skillsBox {
	display: flex;
	flex-wrap: wrap;
	gap: 1rem;
	list-style: none;
	padding: 0;
	margin: 1rem 0;
	justify-content: center; 
 }
 
 .skillsBox li {
	background-color: #a8e7e2;
	padding: 0.75rem 1.5rem;
	border-radius: 8px;
	font-weight: bold;
	box-shadow: 0 2px 5px  #176B87;
	transition: transform 0.3s ease;
 }
 
 .skillsBox li:hover {
	transform: scale(1.05);
 }
.project{
	padding-top: 25px;
}
 .title_fz26 {
	font-size: 26px;
	line-height: 21px;
	color: #0fa0a5;
 }

 .title_fz36 {
	font-size: 36px;
  	color: #0fa0a5;
 }

 .contacts {
	padding: 120px 0 91px 0;
 }
 .contacts_wrapper {
	padding: 0 35px 0 52px;
	display: flex;
	grid-template-columns: 400px 585px;
	justify-content: space-between;
	gap: 40px;
 }
 .contacts_photo img {
	padding: 35px 10px 0 10px;
	width: 100%;
	height: 100%;
	display: none;
 }
 .contacts_descr {
	padding-top: 9px;
 }
 .contacts_descr .divider {
	margin: 0;
 }
 .contacts_title {
	position: relative;
	padding: 0 0 0 12px;
 }
 .contacts_title::before {
	content: "";
	position: absolute;
	width: 36px;
	height: 36px;
	border-radius: 100%;
	background-color: #176B87;
	z-index: -1;
	top: -40%;
	left: 0;
 }
 .contacts_text {
	margin-top: 20px;
	color: #000;
 }
 .contacts_social {
	margin-top: 20px;
 }
 .contacts_link {
	margin-right: 25px;
	transition: all 0.6;
 }
 .contacts_link img {
	max-width: 30px;
	max-height: 30px;
	transition: all 0.6s;
 }
 .contacts_link img:hover {
	scale: 1.1;
 }
 .contacts_form {
	margin-top: 30px;
	display: grid;
	grid-template: 45px 190px 45px/repeat(2, 285px);
	justify-content: space-between;
	row-gap: 32px;
 }
 .contacts_form label {
	display: block;
	position: absolute;
	height: 18px;
	padding: 0 8px;
	background-color: #fff;
	font-size: 12px;
	margin-bottom: 0;
	top: -7px;
	left: 12px;
 }
 .contacts_triggers {
	grid-column: 1/3;
	display: grid;
	grid-template-columns: repeat(2, auto);
	column-gap: 35px;
 }

 .site-footer {
	background-color: #096164;
	color: #fff;
	text-align: center;
	padding: 20px 0;
	margin-top: 40px;
	font-family: 'Roboto', sans-serif;
 }

 @media (min-width: 1439px) {
	body {
		font-size: 20px; /* Increase the font size */
  }

}
 @media (min-width: 1160px) {
	.container {
	  max-width: 991.98px;
	}
	body {
		font-size: 16px; /* Increase the font size */
  }
	/*Header change*/
	h1, h2, h3 {
		font-size: 25px; /* 1st change: Reduce font size */
		color: #096164; /* 2nd change: Change font color */
  }
 
	.about_wrapper {
	  grid-template-columns: 400px 520px;
	  column-gap: 40px;
	}
	.about_skills {
	  column-gap: 20px;
	  grid-template: repeat(2, minmax(115px, auto))/repeat(2, 250px);
	}
	.about_skills-item {
	  column-gap: 15px;
	  grid-template-columns: 40px 195px;
	}
	.resume_wrapper {
	  column-gap: 100px;
	  grid-template-columns: repeat(2, 400px);
	}
	.skills_items {
	  grid-template-columns: repeat(auto-fit, 270px);
	  justify-content: space-around;
	}
	.skills_ratings {
	  margin-top: 70px;
	  grid-template-columns: repeat(auto-fit, 350px);
	  grid-auto-rows: minmax(70px, auto);
	  justify-content: space-around;
	  padding: 0 30px;
	}
	.portfolio_wrapper {
	  grid-template-columns: repeat(auto-fit, 280px);
	  grid-auto-rows: 280px;
	  justify-content: space-around;
	  row-gap: 35px;
	}
	.portfolio_wrapper .horizontal, .portfolio_wrapper .vertical {
	  grid-row: unset;
	  grid-column: unset;
	}
	.contacts_wrapper {
	  padding: 0;
	  grid-template-columns: 400px 520px;
	}
	.contacts_form {
	  grid-template: 45px 190px 45px/repeat(2, 250px);
	  column-gap: 10px;
	}
 }
 @media (max-width: 991.98px) {
	.container {
	  max-width: 767.98px;
	}
	
	.title_fz36 {
	  font-size: 30px;
	}
	.about {
	  padding-top: 70px;
	}
	.about_wrapper {
	  grid-template-columns: 310px 380px;
	}
	.about_skills {
	  grid-template-columns: 380px;
	  grid-auto-rows: minmax(115px, auto);
	}
	.about_skills-item {
	  grid-template-columns: 40px 320px;
	  column-gap: 20px;
	}
	.resume_wrapper {
	  padding: 60px 20px 0 20px;
	  column-gap: 30px;
	  grid-template-columns: repeat(2, 340px);
	}
	.skills__items {
	  padding: 0 20px;
	}
	.skills__ratings {
	  grid-template-columns: repeat(auto-fit, 320px);
	  justify-content: space-between;
	  padding: 0;
	  column-gap: 0;
	}
	.skills__ratings-line {
	  width: 100%;
	}
	.price_wrapper {
	  grid-template-columns: repeat(auto-fit, 350px);
	  padding: 0;
	}
	.contacts_wrapper {
	  grid-template-columns: 300px 400px;
	}
	.contacts_form {
	  grid-template: 45px 190px 45px/repeat(2, 195px);
	}
	.contacts_btn {
	  padding: 8px 25px;
	  line-height: 16px;
	}
 }
 @media (max-width: 767.98px) {
	.container {
	  max-width: 479.98px;
	}
	.title_fz48 {
	  font-size: 28px;
	}
	.promo_title {
	  line-height: 39px;
	  max-width: 300px;
	}
	.about {
	  padding-top: 40px;
	}
	.about_wrapper {
	  grid-template: 400px auto auto/1fr;
	}
	.about_photo {
	  grid-row: unset;
	}
	.about_skills {
	  justify-content: center;
	}

	.skills {
	  padding-top: 40px;
	  padding-bottom: 25px;
	}
	.contacts {
	  padding-top: 40px;
	}
	.contacts_photo {
	  display: none;
	}
	.contacts_wrapper {
	  grid-template-columns: 1fr;
	}
	.contacts_form {
	  grid-template: 45px 190px 45px/repeat(2, 215px);
	}
	.contacts label.error {
	  font-size: 11px;
	  line-height: 9px;
	}
	.contacts #agree-error {
	  font-size: 11px;
	  line-height: 11px;
	}
 }
 @media (max-width: 479.98px) {
	.container {
	  width: 100%;
	}
	.title_fz48 {
	  font-size: 26px;
	}
	.title_fz36 {
	  font-size: 24px;
	  line-height: 36px;
	  margin-top: 20px;
	}
	.divider {
	  margin-top: 15px;
	}
	.menu_block {
	  width: 255px;
	  padding-left: 20px;
	}
	.promo {
		background: url("../img/main-bg.jpg") no-repeat 75%/cover ;
		min-height: 20vh; /* Updated from 90vh to 100vh */
	   height: auto;      /* Optional: Let height grow if content exceeds min-height */
	   padding: 205px 10px 0 10px;
	   display: flex;
	 }
	.title_fz36,.menu_list{
		color: #e97139;
	}
	.about_skills {
	  grid-template-columns: 1fr;
	}
	.about_skills-item {
	  grid-template-columns: 40px 200px;
	  column-gap: 20px;
	}
	.about_divider {
	  margin: 15px 0 0 0;
	}
	.contacts_qr img{ 
		padding-top: 25px;
		width: 100%;
		height: 100%;
		object-fit: cover;
	}
	.contacts_link img:hover {
	  scale: 1;
	}
 }	