.about {
	padding-top: 120px;
 }

 .about_wrapper {
	display: grid;
	grid-template-columns: 400px 570px;
	grid-template-rows: minmax(245px, auto) minmax(255px, auto);
	grid-auto-rows: minmax(245px, auto);
	column-gap: 70px;
	row-gap: 40px;
 }
.promo {
	min-height: 90vh;
	position: relative;
	background: url("../img/main-bg.jpg") no-repeat 50%/cover;
	padding: 205px 10px 0 10px;
 }
 .menu_list {
	padding-left: 35px;
 }

 .container {
	max-width: 1160px;
	margin: 0 auto;
	padding: 0 10px;
 }
